@page
@model TempModel
@{
    ViewData["Title"] = "Temp";
    Layout = "_LayoutApp";
}
<h1>@ViewData["Title"]</h1>
<h1>@ViewData["Message"]</h1>
@User.Identity.Name 


<p>Use this page to detail your site's privacy policy.</p>
