@page
@model TempModel
@{
    ViewData["Title"] = "Temp";
    Layout = "_LayoutApp";
}
<h1>@ViewData["Title"]</h1>


@foreach (var item in User.Claims)
{
    <h8>@item.Type - @item.Value</h8>
    <br>
}

<p>Use this page to detail your site's privacy policy.</p>
